body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2{
  color:#fff;
}

table {
  border-collapse: collapse; /* 合并相邻边框 */
}

th, td {
  border: 1px solid black; /* 设置边框样式 */
  padding: 8px; /* 设置单元格内边距 */
}
